#set($inputRoot = $input.path('$'))
{
  "pathParameters": {
    #foreach($key in $input.params().path.keySet())
      "$key": "$util.escapeJavaScript($input.params().path.get($key))"#if($foreach.hasNext),#end
    #end
  },
  "queryStringParameters": {
    #foreach($key in $input.params().querystring.keySet())
      "$key": "$util.escapeJavaScript($input.params().querystring.get($key))"#if($foreach.hasNext),#end
    #end
  },
  "multiValueQueryStringParameters": {
    #foreach($key in $input.params().querystring.keySet())
      "$key": [
        #foreach($value in $input.params($key))
          "$util.escapeJavaScript($value)"#if($foreach.hasNext),#end
        #end
      ]#if($foreach.hasNext),#end
    #end
  },
  "headers": {
    "Authorization": "$util.escapeJavaScript($input.params().header.get('Authorization'))",
    "Cookie": "$util.escapeJavaScript($input.params().header.get('Cookie'))"
  },
  "body": $input.json('$'),
  "requestContext": {
    "authorizer": {
      "claims": {
        #if($context.authorizer.claims)
          #foreach($key in $context.authorizer.claims.keySet())
            "$key": "$util.escapeJavaScript($context.authorizer.claims.get($key))"#if($foreach.hasNext),#end
          #end
        #end
      }
    },
    "requestId": "$context.requestId",
    "httpMethod": "$context.httpMethod",
    "resourcePath": "$context.resourcePath"
  }
}
